MONGO_URI=mongodb://monitoring_user:<PASSWORD_SEGURA>@<IP_ADDRESS>/monitoring
MONGO_DB=monitoring

LDAP_URL=ldaps://<LDAP_SERVER>:636
LDAP_BASE_DN=dc=example,dc=local
LDAP_SVC_DN=CN=API_Metrics,OU=Service Accounts,DC=metrics,DC=local
LDAP_SVC_PW=<>PASSWORD_SEGURA>

MINIO_ENDPOINT=http://<IP_ADDRESS>:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
BUCKET_USERS=usuarios
BUCKET_SERVIDORES=servidores
BUCKET_SERVICIOS=servicios

JWT_SECRET=