# ======================
# Maven
# ======================
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Maven Wrapper (sí se versiona)
!.mvn/wrapper/maven-wrapper.jar

# ======================
# Eclipse
# ======================
.metadata/
.classpath
.project
.settings/
.apt_generated/
.factorypath
.externalToolBuilders/
.loadpath
.recommenders/
.sts4-cache/
*.launch

# ======================
# Java
# ======================
*.class
*.log
hs_err_pid*
replay_pid*

# ======================
# Otros IDEs (por si acaso)
# ======================
.idea/
*.iml
.vscode/

# ======================
# Archivos temporales Linux / editores
# ======================
*~
*.swp
.DS_Store

# ======================
# Git merge backups
# ======================
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*